html,
body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  height: 100%;
}

.rtl-style {
  font-family: "Varela Round", sans-serif !important;
  text-align: right;
}

.rtl-style h1,
.rtl-style h2,
.rtl-style h3,
.rtl-style h4,
.rtl-style h5,
.rtl-style h6 {
  font-family: "Varela Round", sans-serif !important;
}

.rtl-style .button-text-1,
.rtl-style .button-text-2,
.rtl-style .button-text-3 {
  font-family: "Varela Round", sans-serif !important;
}

.rtl-style .header .header-menu .nav .nav-item .nav-link {
  font-family: "Varela Round", sans-serif !important;
}

.rtl-style .product-info-box .nav .nav-item .nav-link {
  font-family: "Varela Round", sans-serif !important;
}

.rtl-style .font-family-primary {
  font-family: "Varela Round", sans-serif !important;
}

.rtl-style .font-family-secondary,
.rtl-style .font-family-playfair {
  font-family: "Varela Round", sans-serif !important;
}

.rtl-style .font-family-tertiary {
  font-family: "Varela Round", sans-serif !important;
}
